.c-btn{
    display: inline-block;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;

    color: white;
    background-color: blue;

    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid;
}


.c-btn-secundario{
    background-color: white;
    color: blue;
}

.c-btn--size-lg{    
    font-size: 20px;

    padding-left: 20px;
    padding-right: 20px;    
    

    padding-top: 10px;
    padding-bottom: 10px;
}

.g--padding-horizontal-8{
    padding-right: 20px;
    padding-left: 20px;
}

.g--padding-vertical-5{
    padding-top: 10px;
    padding-bottom: 20px;
}

.g--font-size-5{
    font-size: 20px;
}